<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CACHE-->
<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
<meta http-equiv="Pragma" content="no-cache">

<link rel="apple-touch-icon" sizes="180x180" href="/public/imagenes/logos/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/public/imagenes/logos/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/public/imagenes/logos/favicon-16x16.png">
<link rel="manifest" href="/public/manifest.json">
<link rel="mask-icon" href="/public/imagenes/logos/safari-pinned-tab.svg" color="#5bbad5">
<meta name="apple-mobile-web-app-title" content="DOMOTIZATE">
<meta name="application-name" content="DOMOTIZATE">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<title>DOMOTIZATE</title>


<!-- JQUERY -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>

<!--SWEETALERT-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- Librería para encriptar las contraseñas-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-base64.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-utf8.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/hmac.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/sha256.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>


<!-- NORMALIZE -->
<link rel="stylesheet" href="/public/css/normalize.css">

<!-- MIS ESTILOS -->
<link rel="stylesheet" href="/public/css/estilosLandingPage.css">    