<div class="piePag">
    <div class="contSupPiePag">
        <div class="logoEmpresa">
            <h3><a href="/">DOMOTIZATE</a></h3>
        </div>
        <div class="menuInf">
            <ul>
                <li><a href="/cookies">Cookies</a></li>
                <li><a href="/privacidad">Aviso de Privacidad</a></li>
                <li><a href="/termsCond">Términos y Condiciones</a></li>
            </ul>
        </div>
    </div>
    <div class="contInfPiePag">
        <p>Copyright ⓒ 2022 | Todos los derechos reservados.</p>
    </div>
</div>